/* HERO SECTION */
.hero-container {
    background-image: url(../images/Bitmap.png);
    padding-top: 117px;
    padding-left: 85px;
    padding-bottom: 116px;
    border-radius: 10px;
}

.hero-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    max-width: 493px;
}

.hero-left {
    max-width: 493px;
}

.hero-desc {
    max-width: 445px;
    margin: 0;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-top: 32px;
    margin-bottom: 57px;
}

.products {
    padding: 0 87px;
}

.products-container {
    position: relative;
    width: 1111px;
    height: 525px;
    margin-top: 136px;
    margin-bottom: 200px;
    background-image: url(../images/our-collection.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}

.products-list {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: inherit;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.products-item {
    width: 255px;
}

.products-heading {
    margin: 0;
    margin-top: 70px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.products-desc {
    margin: 0;
    margin-top: 23px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

.choose {
    margin-top: 400px;
    margin-bottom: 400px;
}

.container-choose {
    width: 1280px;
    border-radius: 10px;
    background-color: #2C343E;
}

.hero-choose {
    position: relative;
    padding-top: 100px;
    padding-bottom: 317px;
}

.choose-heading {
    width: 540px;
    margin: 0 auto;
}

.hero-choose-title {
    margin: 0;
    font-family: 'Fraunces 9pt';
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    width: 329px;
    margin-bottom: 32px;
    margin-left: 90px;
}

.hero-choose-desc {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
}

.hero-choose-us {
    position: absolute;
    top: 340px;
    left: 85px;
}

.hero-choose-us-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-choose-us-item {
    background: #0E8784;
    border-radius: 8px;
    max-width: 350px;
    padding: 72px 48px 48px 48px;
}

.hero-choose-us-item+.hero-choose-us-item {
    margin-left: 30px;
}

.hero-choose-us-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.hero-choose-us-buttom-top {
    font-family: 'Fraunces 9pt';
    ;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    width: 255px;
}

.hero-choose-us-decs {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    width: 255px;
}

/*************************************** WORKS ********************************************/

.works {
    margin: 200px 0;
    margin-bottom: 320px;
}

.works-container {
    width: 1045px;
}

.works-heading {
    font-family: 'Fraunces';
    font-weight: 900;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 178px;
}

.works-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.works-list::after {
    content: "";
    display: block;
    position: absolute;
    top: -83px;
    left: 15px;
    width: 760px;
    height: 2px;
    background-color: #FDD6BA;
    z-index: 0;
}

.works-item {
    position: relative;
    margin: 0;
    padding: 0;
    width: 285px;
    height: 355px;

}

.works-item::before {
    content: '';
    position: absolute;
    top: -98px;
    left: 0;
    display: block;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 2px solid #0E8784;
    border-radius: 50%;
    z-index: 1;
}

.works-link {
    margin: 0;
    text-decoration: none;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.works-list-heading {
    margin: 0;
    padding: 0;
    width: 255px;
    height: 73px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-top: 38px;
    margin-bottom: 42px;
}

.works-list-desc {
    margin: 0;
    padding: 0;
    width: 285px;
    height: 130px;
    color: #333D4B;
}